# Data Preparation

### Task
Parse the json **nyc_geo.json** into the dataframe with the following columns:
- Borough
- Neighborhood
- Latitude
- Longitude

In [2]:
from data_prep.json_prep import json_prep

In [4]:
a, b = json_prep(path="./data_prep/nyc_geo.json")

In [5]:
a

           borough neighbourhood  longitude   latitude
0            Bronx     Wakefield -73.847201  40.894705
1            Bronx    Co-op City -73.829939  40.874294
2            Bronx   Eastchester -73.827806  40.887556
3            Bronx     Fieldston -73.905643  40.895437
4            Bronx     Riverdale -73.912585  40.890834
..             ...           ...        ...        ...
301      Manhattan  Hudson Yards -74.000111  40.756658
302         Queens       Hammels -73.805530  40.587338
303         Queens     Bayswater -73.765968  40.611322
304         Queens  Queensbridge -73.945631  40.756091
305  Staten Island     Fox Hills -74.081740  40.617311

[306 rows x 4 columns]

In [6]:
b

,type,id,geometry_name,geometry.type,geometry.coordinates,properties.name,properties.stacked,properties.annoline1,properties.annoline2,properties.annoline3,properties.annoangle,properties.borough,properties.bbox
0,Feature,nyu_2451_34572.1,geom,Point,"[-73.84720052054902, 40.89470517661]",Wakefield,1,Wakefield,None,None,0.0,Bronx,"[-73.84720052054902, 40.89470517661, -73.84720..."
1,Feature,nyu_2451_34572.2,geom,Point,"[-73.82993910812398, 40.87429419303012]",Co-op City,2,Co-op,City,None,0.0,Bronx,"[-73.82993910812398, 40.87429419303012, -73.82..."
2,Feature,nyu_2451_34572.3,geom,Point,"[-73.82780644716412, 40.887555677350775]",Eastchester,1,Eastchester,None,None,0.0,Bronx,"[-73.82780644716412, 40.887555677350775, -73.8..."
3,Feature,nyu_2451_34572.4,geom,Point,"[-73.90564259591682, 40.89543742690383]",Fieldston,1,Fieldston,None,None,0.0,Bronx,"[-73.90564259591682, 40.89543742690383, -73.90..."
4,Feature,nyu_2451_34572.5,geom,Point,"[-73.9125854610857, 40.890834493891305]",Riverdale,1,Riverdale,None,None,0.0,Bronx,"[-73.9125854610857, 40.890834493891305, -73.91..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Feature,nyu_2451_34572.302,geom,Point,"[-74.00011136202637, 40.75665808227519]",Hudson Yards,2,Hudson,Yards,None,0.0,Manhattan,"[-74.00011136202637, 40.75665808227519, -74.00..."
302,Feature,nyu_2451_34572.303,geom,Point,"[-73.80553002968718, 40.58733774018741]",Hammels,1,Hammels,None,None,0.0,Queens,"[-73.80553002968718, 40.58733774018741, -73.80..."
303,Feature,nyu_2451_34572.304,geom,Point,"[-73.76596781445627, 40.611321691283834]",Bayswater,1,Bayswater,None,None,0.0,Queens,"[-73.76596781445627, 40.611321691283834, -73.7..."
304,Feature,nyu_2451_34572.305,geom,Point,"[-73.94563070334091, 40.756091297094706]",Queensbridge,1,Queensbridge,None,None,0.0,Queens,"[-73.94563070334091, 40.756091297094706, -73.9..."
305,Feature,nyu_2451_34572.306,geom,Point,"[-74.08173992211962, 40.61731079252983]",Fox Hills,2,Fox,Hills,None,0.0,Staten Island,"[-74.08173992211962, 40.61731079252983, -74.08..."

In [9]:
import geopandas

gdf = geopandas.read_file("./data_prep/nyc_geo.json")
gdf

,id,name,stacked,annoline1,annoline2,annoline3,annoangle,borough,geometry
0,nyu_2451_34572.1,Wakefield,1,Wakefield,None,None,0.0,Bronx,POINT (-73.84720 40.89471)
1,nyu_2451_34572.2,Co-op City,2,Co-op,City,None,0.0,Bronx,POINT (-73.82994 40.87429)
2,nyu_2451_34572.3,Eastchester,1,Eastchester,None,None,0.0,Bronx,POINT (-73.82781 40.88756)
3,nyu_2451_34572.4,Fieldston,1,Fieldston,None,None,0.0,Bronx,POINT (-73.90564 40.89544)
4,nyu_2451_34572.5,Riverdale,1,Riverdale,None,None,0.0,Bronx,POINT (-73.91259 40.89083)
...,...,...,...,...,...,...,...,...,...
301,nyu_2451_34572.302,Hudson Yards,2,Hudson,Yards,None,0.0,Manhattan,POINT (-74.00011 40.75666)
302,nyu_2451_34572.303,Hammels,1,Hammels,None,None,0.0,Queens,POINT (-73.80553 40.58734)
303,nyu_2451_34572.304,Bayswater,1,Bayswater,None,None,0.0,Queens,POINT (-73.76597 40.61132)
304,nyu_2451_34572.305,Queensbridge,1,Queensbridge,None,None,0.0,Queens,POINT (-73.94563 40.75609)
305,nyu_2451_34572.306,Fox Hills,2,Fox,Hills,None,0.0,Staten Island,POINT (-74.08174 40.61731)

In [14]:
type(gdf.iloc[0,-1])

shapely.geometry.point.Point

### Task
Use different data sources and APIs to collect information about the neigborhoods that can be used for segmentation.

### Task

Visualize the neigborhoods in the graph.