# Import data

In [1]:
import pandas as pd

df = pd.read_csv("/home/myn/LHL googledrive/trees_raw.csv")

In [2]:
df.head()

,Unnamed: 0,key_0,geometry_x,index_right,id,GEOCODE,GEONAME,BOROUGH,created_at,tree_id,...,y_sp,family,type,order,nuts,fruit,cones,ornamental,clade,spc_common_feat_y
0,0,0,POINT (-73.84421521958048 40.723091773924274),43.0,44,44.0,Forest Hills/Rego Park,Queens,08/27/2015,180683,...,202756.7687,sapindaceae,deciduous,sapindales,no,yes,no,yes,rosids,red maple
1,1,1,POINT (-73.81867945834878 40.79411066708779),44.0,45,45.0,Flushing/Whitestone,Queens,09/03/2015,200540,...,228644.8374,fagaceae,deciduous,fagales,yes,no,no,yes,rosids,pin oak
2,2,2,POINT (-73.93660770459083 40.717580740099116),10.0,11,11.0,Williamsburg/Greenpoint,Brooklyn,09/05/2015,204026,...,200716.8913,fabaceae,deciduous,fabales,yes,no,no,yes,rosids,honeylocust
3,3,3,POINT (-73.93445615919741 40.713537494833226),10.0,11,11.0,Williamsburg/Greenpoint,Brooklyn,09/05/2015,204337,...,199244.2531,fabaceae,deciduous,fabales,yes,no,no,yes,rosids,honeylocust
4,4,4,POINT (-73.97597938483258 40.66677775537875),15.0,16,16.0,Park Slope/Carroll Gardens,Brooklyn,08/30/2015,189565,...,182202.4260,malvaceae,deciduous,malvales,yes,no,no,yes,rosids,American linden

In [3]:
df.nunique()

Unnamed: 0           651505
key_0                651505
geometry_x           651114
index_right              55
id                       55
GEOCODE                  55
GEONAME                  55
BOROUGH                   5
created_at              483
tree_id              651505
block_id             100630
geometry_y           651114
tree_dbh                145
stump_diam                1
curb_loc                  2
status                    1
health                    3
spc_latin               132
spc_common              132
steward                   4
guards                    4
sidewalk                  2
user_type                 3
problems                232
root_stone                2
root_grate                2
root_other                2
trnk_wire                 2
trnk_light                2
trnk_other                2
brnch_ligh                2
brnch_shoe                2
brnch_othe                2
address              395191
zipcode                 191
zip_city                 48
cb_num                   59
borocode                  5
boroname                  5
cncldist                 51
st_assem                 65
st_senate                26
nta                     188
nta_name                188
boro_ct                2150
state                     1
Latitude             644513
longitude            645433
x_sp                 649546
y_sp                 650455
family                   32
type                      2
order                     8
nuts                      2
fruit                     2
cones                     2
ornamental                2
clade                     5
spc_common_feat_y        15
dtype: int64

In [4]:
df.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
key_0,0,1,2,3,4
geometry_x,POINT (-73.84421521958048 40.723091773924274),POINT (-73.81867945834878 40.79411066708779),POINT (-73.93660770459083 40.717580740099116),POINT (-73.93445615919741 40.713537494833226),POINT (-73.97597938483258 40.66677775537875)
index_right,43.0,44.0,10.0,10.0,15.0
id,44,45,11,11,16
GEOCODE,44.0,45.0,11.0,11.0,16.0
GEONAME,Forest Hills/Rego Park,Flushing/Whitestone,Williamsburg/Greenpoint,Williamsburg/Greenpoint,Park Slope/Carroll Gardens
BOROUGH,Queens,Queens,Brooklyn,Brooklyn,Brooklyn
created_at,08/27/2015,09/03/2015,09/05/2015,09/05/2015,08/30/2015
tree_id,180683,200540,204026,204337,189565
block_id,348711,315986,218365,217969,223043
geometry_y,POINT (-73.84421521958048 40.723091773924274),POINT (-73.81867945834878 40.79411066708779),POINT (-73.93660770459083 40.717580740099116),POINT (-73.93445615919741 40.713537494833226),POINT (-73.97597938483258 40.66677775537875)
tree_dbh,3,21,3,10,21
stump_diam,0,0,0,0,0
curb_loc,OnCurb,OnCurb,OnCurb,OnCurb,OnCurb
status,Alive,Alive,Alive,Alive,Alive
health,Fair,Fair,Good,Good,Good
spc_latin,Acer rubrum,Quercus palustris,Gleditsia triacanthos var. inermis,Gleditsia triacanthos var. inermis,Tilia americana
spc_common,red maple,pin oak,honeylocust,honeylocust,American linden
steward,None,None,1or2,None,None
guards,None,None,None,None,None
sidewalk,NoDamage,Damage,Damage,Damage,Damage
user_type,TreesCount Staff,TreesCount Staff,Volunteer,Volunteer,Volunteer
problems,None,Stones,None,Stones,Stones
root_stone,No,Yes,No,Yes,Yes
root_grate,No,No,No,No,No
root_other,No,No,No,No,No
trnk_wire,No,No,No,No,No
trnk_light,No,No,No,No,No
trnk_other,No,No,No,No,No
brnch_ligh,No,No,No,No,No
brnch_shoe,No,No,No,No,No
brnch_othe,No,No,No,No,No
address,108-005 70 AVENUE,147-074 7 AVENUE,390 MORGAN AVENUE,1027 GRAND STREET,603 6 STREET
zipcode,11375,11357,11211,11211,11215
zip_city,Forest Hills,Whitestone,Brooklyn,Brooklyn,Brooklyn
cb_num,406,407,301,301,306
borocode,4,4,3,3,3
boroname,Queens,Queens,Brooklyn,Brooklyn,Brooklyn
cncldist,29,19,34,34,39
st_assem,28,27,50,53,44
st_senate,16,11,18,18,21
nta,QN17,QN49,BK90,BK90,BK37
nta_name,Forest Hills,Whitestone,East Williamsburg,East Williamsburg,Park Slope-Gowanus
boro_ct,4073900,4097300,3044900,3044900,3016500
state,New York,New York,New York,New York,New York
Latitude,40.723092,40.794111,40.717581,40.713537,40.666778
longitude,-73.844215,-73.818679,-73.936608,-73.934456,-73.975979
x_sp,1027431.148,1034455.701,1001822.831,1002420.358,990913.775
y_sp,202756.7687,228644.8374,200716.8913,199244.2531,182202.426
family,sapindaceae,fagaceae,fabaceae,fabaceae,malvaceae
type,deciduous,deciduous,deciduous,deciduous,deciduous
order,sapindales,fagales,fabales,fabales,malvales
nuts,no,yes,yes,yes,yes
fruit,yes,no,no,no,no
cones,no,no,no,no,no
ornamental,yes,yes,yes,yes,yes
clade,rosids,rosids,rosids,rosids,rosids
spc_common_feat_y,red maple,pin oak,honeylocust,honeylocust,American linden

In [5]:
for i in df.columns[df.nunique()<50]:
    print(df[i].value_counts())

Queens           237391
Brooklyn         169707
Staten Island    101416
Bronx             80281
Manhattan         62710
Name: BOROUGH, dtype: int64
0    651505
Name: stump_diam, dtype: int64
OnCurb            625655
OffsetFromCurb     25850
Name: curb_loc, dtype: int64
Alive    651505
Name: status, dtype: int64
Good    528488
Fair     96315
Poor     26702
Name: health, dtype: int64
None       487347
1or2       143393
3or4        19155
4orMore      1610
Name: steward, dtype: int64
None       571683
Helpful     51836
Harmful     20240
Unsure       7746
Name: guards, dtype: int64
NoDamage    464366
Damage      187139
Name: sidewalk, dtype: int64
TreesCount Staff    281722
Volunteer           207687
NYC Parks Staff     162096
Name: user_type, dtype: int64
No     511533
Yes    139972
Name: root_stone, dtype: int64
No     647970
Yes      3535
Name: root_grate, dtype: int64
No     621197
Yes     30308
Name: root_other, dtype: int64
No     638239
Yes     13266
Name: trnk_wire, dtype: int64
No     650475
Yes      1030
Name: trnk_light, dtype: int64
No     618939
Yes     32566
Name: trnk_other, dtype: int64
No     589310
Yes     62195
Name: brnch_ligh, dtype: int64
No     651094
Yes       411
Name: brnch_shoe, dtype: int64
No     627157
Yes     24348
Name: brnch_othe, dtype: int64
Brooklyn               169738
Staten Island          101416
Bronx                   80570
New York                61489
Jamaica                 24645
Flushing                22374
Ridgewood               10262
Fresh Meadows           10050
Astoria                  9535
Queens Village           9488
Whitestone               9016
Bayside                  8333
Springfield Gardens      7122
Little Neck              6968
Forest Hills             6742
Oakland Gardens          6731
East Elmhurst            6153
Rosedale                 6075
Far Rockaway             5834
Woodside                 5403
South Ozone Park         5200
Ozone Park               5173
Bellerose                4834
Middle Village           4666
Saint Albans             4448
Howard Beach             4381
Corona                   4124
Elmhurst                 4014
Glen Oaks                4005
Maspeth                  3797
Hollis                   3407
Long Island City         3335
Richmond Hill            3210
Rockaway Park            3176
Jackson Heights          3155
Cambria Heights          3061
College Point            2946
Rego Park                2909
Woodhaven                2714
South Richmond Hill      2625
Arverne                  1863
Kew Gardens              1666
Sunnyside                1615
Floral Park              1435
Central Park              932
New Hyde Park             837
Breezy Point               24
Inwood                      9
Name: zip_city, dtype: int64
4    237367
3    169731
5    101416
2     80570
1     62421
Name: borocode, dtype: int64
Queens           237367
Brooklyn         169731
Staten Island    101416
Bronx             80570
Manhattan         62421
Name: boroname, dtype: int64
24    84119
11    64763
15    41560
14    36183
10    33170
34    29629
19    27793
22    26038
23    24096
16    22989
25    22683
17    21275
12    20776
21    19849
18    19638
13    17919
20    16186
26    15801
32    15093
36    13757
33    13552
29    13388
30    13279
27    13111
28    12657
31    12201
Name: st_senate, dtype: int64
New York    651505
Name: state, dtype: int64
rosaceae             110461
fabaceae             103918
sapindaceae           93719
platanaceae           86750
fagaceae              75008
malvaceae             51258
ulmaceae              44150
oleaceae              25237
ginkgoaceae           21019
altingiaceae          10657
betulaceae             6882
cupressaceae           6350
cornaceae              3195
cannabaceae            2367
magnoliaceae           2075
pinaceae               1763
eucommiaceae            913
cercidiphyllaceae       911
simaroubaceae           754
salicaceae              735
styracaceae             613
bignoniaceae            548
lythraceae              440
juglandaceae            394
nyssaceae               288
hamamelidaceae          277
paulowniaceae           245
rutaceae                183
lauraceae               171
aquifoliaceae           138
anacardiaceae            57
moraceae                 29
Name: family, dtype: int64
deciduous     643328
coniferous      8177
Name: type, dtype: int64
rosales         157007
fabales         103918
sapindales       94713
proteales        86750
fagales          82284
other            63730
malvales         51258
saxifragales     11845
Name: order, dtype: int64
no     348876
yes    302629
Name: nuts, dtype: int64
yes    339117
no     312388
Name: fruit, dtype: int64
no     643392
yes      8113
Name: cones, dtype: int64
yes    488460
no     163045
Name: ornamental, dtype: int64
rosids         490355
eudicots        98595
asterids        31177
gymnosperms     29132
magnoliids       2246
Name: clade, dtype: int64
other                176880
London planetree      86750
honeylocust           64209
Callery pear          58848
pin oak               53159
Norway maple          34181
littleleaf linden     29734
cherry                29244
Japanese zelkova      29243
Sophora               19312
red maple             17245
green ash             16245
American linden       13530
silver maple          12268
sweetgum              10657
Name: spc_common_feat_y, dtype: int64

# Strip out data

In [6]:
df.head(1).T

                                                               0
Unnamed: 0                                                     0
key_0                                                          0
geometry_x         POINT (-73.84421521958048 40.723091773924274)
index_right                                                 43.0
id                                                            44
GEOCODE                                                     44.0
GEONAME                                   Forest Hills/Rego Park
BOROUGH                                                   Queens
created_at                                            08/27/2015
tree_id                                                   180683
block_id                                                  348711
geometry_y         POINT (-73.84421521958048 40.723091773924274)
tree_dbh                                                       3
stump_diam                                                     0
curb_loc                                                  OnCurb
status                                                     Alive
health                                                      Fair
spc_latin                                            Acer rubrum
spc_common                                             red maple
steward                                                     None
guards                                                      None
sidewalk                                                NoDamage
user_type                                       TreesCount Staff
problems                                                    None
root_stone                                                    No
root_grate                                                    No
root_other                                                    No
trnk_wire                                                     No
trnk_light                                                    No
trnk_other                                                    No
brnch_ligh                                                    No
brnch_shoe                                                    No
brnch_othe                                                    No
address                                        108-005 70 AVENUE
zipcode                                                    11375
zip_city                                            Forest Hills
cb_num                                                       406
borocode                                                       4
boroname                                                  Queens
cncldist                                                      29
st_assem                                                      28
st_senate                                                     16
nta                                                         QN17
nta_name                                            Forest Hills
boro_ct                                                  4073900
state                                                   New York
Latitude                                               40.723092
longitude                                             -73.844215
x_sp                                                 1027431.148
y_sp                                                 202756.7687
family                                               sapindaceae
type                                                   deciduous
order                                                 sapindales
nuts                                                          no
fruit                                                        yes
cones                                                         no
ornamental                                                   yes
clade                                                     rosids
spc_common_feat_y                                      red maple

# Create summary data

In [7]:
summary = df.groupby(
    by=["GEOCODE", "clade", "family", "spc_common_feat_y", "steward", "health"]
).agg(count=("GEOCODE", "count"), ave_diameter=("tree_dbh", "mean")).reset_index()

summary["GEOCODE"] = summary["GEOCODE"].astype(int)
summary.to_csv("./trees_summary.csv", index=False)

In [8]:
summary

,GEOCODE,clade,family,spc_common_feat_y,steward,health,count,ave_diameter
0,1,asterids,bignoniaceae,other,1or2,Fair,1,3.000000
1,1,asterids,bignoniaceae,other,None,Good,7,8.285714
2,1,asterids,bignoniaceae,other,None,Poor,1,14.000000
3,1,asterids,cornaceae,other,1or2,Fair,2,5.500000
4,1,asterids,cornaceae,other,1or2,Good,7,4.571429
...,...,...,...,...,...,...,...,...
13310,55,rosids,ulmaceae,other,3or4,Fair,2,12.500000
13311,55,rosids,ulmaceae,other,3or4,Good,8,6.000000
13312,55,rosids,ulmaceae,other,None,Fair,33,10.606061
13313,55,rosids,ulmaceae,other,None,Good,214,8.542056
13314,55,rosids,ulmaceae,other,None,Poor,6,9.833333

# Import raw data
wget -O tree_census_2015.csv https://data.cityofnewyork.us/api/views/uvpi-gqnh/rows.csv?accessType=DOWNLOAD

In [9]:
import pandas as pd
import geopandas

In [10]:
df = pd.read_csv("/home/myn/LHL googledrive/tree_census_2015.csv")

# https://cityofnewyork.github.io/opendatatsm/citystandards.html states all geospatial data is in EPSG:3857.
gdf = geopandas.GeoDataFrame(
    df, geometry=geopandas.points_from_xy(df["longitude"], df["latitude"], crs="EPSG:3857")
)

In [11]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 46 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tree_id           683788 non-null  int64
 1   block_id          683788 non-null  int64
 2   created_at        683788 non-null  object
 3   tree_dbh          683788 non-null  int64
 4   stump_diam        683788 non-null  int64
 5   curb_loc          683788 non-null  object
 6   status            683788 non-null  object
 7   health            652172 non-null  object
 8   spc_latin         652169 non-null  object
 9   spc_common        652169 non-null  object
 10  steward           652173 non-null  object
 11  guards            652172 non-null  object
 12  sidewalk          652172 non-null  object
 13  user_type         683788 non-null  object
 14  problems          652124 non-null  object
 15  root_stone        683788 non-null  object
 16  root_grate        683788 non-null  object
 17  root_other        683788 non-null  object
 18  trunk_wire        683788 non-null  object
 19  trnk_light        683788 non-null  object
 20  trnk_other        683788 non-null  object
 21  brch_light        683788 non-null  object
 22  brch_shoe         683788 non-null  object
 23  brch_other        683788 non-null  object
 24  address           683788 non-null  object
 25  postcode          683788 non-null  int64
 26  zip_city          683788 non-null  object
 27  community board   683788 non-null  int64
 28  borocode          683788 non-null  int64
 29  borough           683788 non-null  object
 30  cncldist          683788 non-null  int64
 31  st_assem          683788 non-null  int64
 32  st_senate         683788 non-null  int64
 33  nta               683788 non-null  object
 34  nta_name          683788 non-null  object
 35  boro_ct           683788 non-null  int64
 36  state             683788 non-null  object
 37  latitude          683788 non-null  float64
 38  longitude         683788 non-null  float64
 39  x_sp              683788 non-null  float64
 40  y_sp              683788 non-null  float64
 41  council district  677269 non-null  float64
 42  census tract      677269 non-null  float64
 43  bin               674229 non-null  float64
 44  bbl               674229 non-null  float64
 45  geometry          683788 non-null  geometry
dtypes: float64(8), geometry(1), int64(11), object(26)
memory usage: 240.0+ MB

In [12]:
df["spc_common"].value_counts().head(20).index.values

array(['London planetree', 'honeylocust', 'Callery pear', 'pin oak',
       'Norway maple', 'littleleaf linden', 'cherry', 'Japanese zelkova',
       'ginkgo', 'Sophora', 'red maple', 'green ash', 'American linden',
       'silver maple', 'sweetgum', 'northern red oak', 'silver linden',
       'American elm', 'maple', 'purple-leaf plum'], dtype=object)

In [13]:
gdf[["longitude", "latitude", "geometry"]].loc[gdf["spc_common"] == "Norway maple"]

        longitude   latitude                geometry
331    -73.893711  40.847658  POINT (-73.894 40.848)
333    -73.928171  40.832306  POINT (-73.928 40.832)
335    -73.904082  40.708712  POINT (-73.904 40.709)
336    -73.881538  40.875677  POINT (-73.882 40.876)
337    -73.978833  40.674917  POINT (-73.979 40.675)
...           ...        ...                     ...
680285 -73.979225  40.675069  POINT (-73.979 40.675)
680286 -73.995278  40.687196  POINT (-73.995 40.687)
680287 -73.887025  40.850751  POINT (-73.887 40.851)
680288 -73.740067  40.601315  POINT (-73.740 40.601)
680446 -73.908751  40.780211  POINT (-73.909 40.780)

[34189 rows x 3 columns]

In [14]:
nyc = geopandas.GeoDataFrame.from_file("/home/myn/LHL googledrive/old_PUMA_or_Subborough.geo.json")
nyc = nyc.to_crs({'proj': 'cea'})
nyc_area = nyc.area.sum()/10**6
nyc_area  # https://www.google.com/search?q=nyc+area agrees to publized area approx.

780.9194543793957

In [25]:
# https://geoffboeing.com/2014/08/clustering-to-reduce-spatial-data-set-size/

from sklearn.cluster import DBSCAN
from sklearn.cluster import OPTICS

import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np


def cluster_DBSCAN(
    radius_km: float,
    min_samples_pct: float,
    plot: bool,
    species: str | None = None,
) -> pd.DataFrame:
    trees_df = gdf.loc[:, ["longitude", "latitude", "geometry"]]

    if species:
        trees_df = trees_df.loc[gdf["spc_common"] == species]

    # All distance calculations are done in radians because a degree represents a different physical distance depending on where on earth you are.
    coords = np.radians(trees_df[["longitude", "latitude"]].values)
    kms_per_radian = 6371.0088  # physical constant
    epsilon = radius_km / kms_per_radian
    min_samples = int(len(trees_df) * min_samples_pct)

    cluster = DBSCAN(
        eps=epsilon,
        metric="haversine",
        min_samples=min_samples,
        n_jobs=-1,
    ).fit(coords)

    cluster_labels = cluster.labels_
    print(f"min_samples: {min_samples}")
    print(f"clusters: {len(set(cluster_labels))}")
    print(f"trees: {len(cluster_labels)}")

    trees_df["cluster"] = cluster_labels

    if plot:
        fig, ax = plt.subplots(1, figsize=(20, 15))
        trees_df.plot(
            categorical=True,
            legend=True,
            column="cluster",
            ax=ax,
            markersize=0.1,
            alpha=0.8,
            cmap="turbo",
        )
        ax.axis("off")
        ax.set_title(f"{species} clusters", fontsize=20)
        plt.show()
    
    return trees_df


def cluster_OPTICS(species: str, plot: bool, min_samples: float):
    trees_df = gdf[["longitude", "latitude", "geometry"]].loc[
        gdf["spc_common"] == species
    ]
    coords = trees_df[["longitude", "latitude"]].values
    cluster = OPTICS(
        metric="haversine",
        min_cluster_size=min_samples,
        n_jobs=-1,
    ).fit(np.radians(coords))
    cluster_labels = cluster.labels_
    trees_df["cluster"] = cluster_labels

    print(pd.Series(cluster_labels).value_counts())
    print(len(set(cluster_labels)))
    print(len(cluster_labels))

    if plot:
        fig, ax = plt.subplots(1, figsize=(20, 15))
        trees_df.plot(
            categorical=True,
            legend=True,
            column="cluster",
            ax=ax,
            markersize=0.1,
            alpha=0.8,
            cmap="turbo",
        )
        ax.axis("off")
        ax.set_title(f"{species} clusters", fontsize=20)
        plt.show()

In [26]:
treeclusters = pd.DataFrame()

for col in df["spc_common"].value_counts().head(20).index.values:
    clusterlabels = cluster_DBSCAN(
        species=col, radius_km=0.5, min_samples_pct=0.01, plot=False
    )  # For reference a Manhattan city block is approx 80m x 274m.
    treeclusters = pd.concat([treeclusters, clusterlabels])

print(treeclusters)

min_samples: 870
clusters: 9
trees: 87014
min_samples: 642
clusters: 4
trees: 64264
min_samples: 589
clusters: 5
trees: 58931
min_samples: 531
clusters: 4
trees: 53185
min_samples: 341
clusters: 10
trees: 34189
min_samples: 297
clusters: 6
trees: 29742
min_samples: 292
clusters: 5
trees: 29279
min_samples: 292
clusters: 5
trees: 29258
min_samples: 210
clusters: 6
trees: 21024
min_samples: 193
clusters: 10
trees: 19338
min_samples: 172
clusters: 7
trees: 17246
min_samples: 162
clusters: 11
trees: 16251
min_samples: 135
clusters: 8
trees: 13530
min_samples: 122
clusters: 7
trees: 12277
min_samples: 106
clusters: 10
trees: 10657
min_samples: 84
clusters: 13
trees: 8400
min_samples: 79
clusters: 9
trees: 7995
min_samples: 79
clusters: 11
trees: 7975
min_samples: 70
clusters: 13
trees: 7080
min_samples: 68
clusters: 12
trees: 6879
        longitude   latitude                geometry  cluster
9      -73.969744  40.586357  POINT (-73.970 40.586)        0
10     -73.911171  40.782428  POINT (-73.911 40.782)       -1
11     -73.912020  40.781735  POINT (-73.912 40.782)       -1
12     -74.162670  40.557103  POINT (-74.163 40.557)       -1
13     -73.968211  40.694733  POINT (-73.968 40.695)       -1
...           ...        ...                     ...      ...
682966 -73.945493  40.581213  POINT (-73.945 40.581)       -1
682969 -73.840442  40.781848  POINT (-73.840 40.782)       -1
682970 -73.840415  40.782341  POINT (-73.840 40.782)       -1
683731 -73.806135  40.740483  POINT (-73.806 40.740)       -1
683732 -73.964688  40.612160  POINT (-73.965 40.612)       -1

[534514 rows x 4 columns]